.main {
    display: flex;
    height:100%;
    width:100%;
}

.right {
    display:flex;
    flex: 1;
    background-color: rgb(138, 166, 154);
    width: 100%;
    flex-direction: column;
}

.left {
}

.content {
    background-color: red;
    min-height: 100%;
    display: flex;
}