@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.mainContainer{
    width: 75% !important;
}

.authHeaderLogo {
    width: 92px;
    height: 92px;
}

.authHeaderButton {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #14ADD6;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
}

.minorText {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #383838;
    margin: 0;
}


.mainText {
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    line-height: 42px;
    font-size: 30px;
    color: #272525;
}




.customButton{
    background: linear-gradient(135deg, #14ADD6 0%, #384295 100%);
    padding:10px;
    border-radius: 10px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    width: 75% !important;
}

.seventyFiveToHundredContainer{
    width: 75% !important;
}

.otpInput{
    width: 50px !important;
    height: 50px !important;
    border-radius: 10px;
    text-align: center;
}


@media (max-width: 1455px) {
    .customButton,.rememberMeContainer {
        width: 100% !important;
    }

    .otpInput{
        width: 33px !important;
        height: 40px !important;
    }

    .seventyFiveToHundredContainer{
        width: 100% !important;
    }

    .mainContainer{
        width: 100% !important;
        align-items: center;
        justify-content: center;
        display: flex;
    }

}
