.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #14ADD6;
    flex: 1;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
