.main_Menu {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: center;
  height: 100%;
  width:18vw;
}

nav {
  margin-top: 10%;
  width: 18rem;
}

.image {
  margin-top: 15%;
}

.Link {
  padding: 16px;
  
}

.Link:hover {
  background-color: #F2F7FF;
}

