nav {
  margin-top: 20%;
  width: 18rem;
}

.image {
  margin-top: 20%;
}

.Link {
  padding: 16px;
  
}

.Link:hover {
  background-color: #F2F7FF;
}
.main_Menu {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: center;
  height: 100%;
}
